/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 70px;
    font-family: "roboto";
    justify-content: space-between;
    align-items: center;
}

.title{
    margin:20px;
    font-size: 25px;
}

.logo{
    height: 35px;
    width: 35px;
    overflow: hidden;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.log-in{
    height: 40px;
    width: 100px;
    margin:20px;
    border-radius: 5px;
}

.log-in a{
    text-decoration: none; 
    color: inherit; 
}

.main-page{
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    align-items: space-between; 
}

.hero{
    font-size: 50px;
    background-color: black;
    height: 80%;
    justify-content: center;
    position:relative;
}

.hero-text{
    position: absolute;
    top: 20%;
    font-family: "roboto";
}



@media only screen and (max-width: 768px) {
    .title {
        margin-bottom: 10px;
    }

    .log-in {
        margin-top: 10px;
    }

    .main-page {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 20px; 
    }

    .log-in {
        width: 80px; 
    }
}
